*
  box-sizing: border-box
li
  list-style: none

.listbox
  width: 100%
  display: flex
  .textareaBox
    flex: 0.5
  ul
    flex: 2
    display: flex
    flex-wrap: wrap
    li
      width: 20%
      padding: 10px
      .color
        padding-bottom: 100%
      .info
        border: 1px solid #ccc
        padding: 5px 10px
        span
          display: block
          padding: 2px 0


.textareaBox
  text-align: center
